body {
  font-family: Montserrat, sans-serif;
}

.app-container {
  height: 100vh;
}

.link {
  text-decoration: none;
  color: gray;
}

.li-button {
  background-color: transparent;
  border: none;
}

.li-button:hover {
  color: red;
}

.link-active {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.book-container {
  height: 60vh;
  overflow-y: scroll;
}

.spinner {
  position: absolute;
  margin: auto;
  right: 50%;
  bottom: 50%;
  font-size: 50%;
}
