.link {
  text-decoration: none;
  color: gray;
}

.link-active {
  color: whitesmoke;
  text-decoration: none;
}

.link:hover {
  color: whitesmoke;
}

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}
